.image-box {
    padding: 0 10px;
    margin-bottom: 20px;
}

.image-box:hover {
    cursor: zoom-in;
}

.image-box img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.result-box-container {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 45px;

}

.result-box-container .result-box {
    border-radius: 20px;
}

.result-box-container .result-box img {
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.result-box-container .result-box .tool-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    bottom: 60px;
    padding: 10px;
    font-size: 12px;
}

.result-box-container .result-box .tool-box .link {
    background-color: #202020;
    opacity: 0.8;
    padding: 3px 8px;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    display: none;
}

.result-box-container .detail {
    padding: 8px 5px 0 5px;
    font-size: 12px;
    color: #585858;
    display: none;
}

.result-box-container .detail .detail-row {
    display: flex;
    justify-content: space-between;
}

.result-box-container:hover {
    cursor: zoom-in;
    background-color: #F0F0F0;
    margin-bottom: 0;
}

.result-box-container:hover .result-box {
    background-color: #202020;
}

.result-box-container:hover .result-box img {
    opacity: 0.7;
}

.result-box-container:hover .result-box .tool-box .link {
    display: block;
    cursor: pointer;
}

.result-box-container .result-box .tool-box .link {
    text-decoration: none;
}

.result-box-container:hover .detail {
    display: block;
}

.result-box-container-no-margin {
    margin: 0;
}