.main {
    margin: 0;
    max-width: none;
    padding: 0;
}

.main .header {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: white;
}

.main .header .logo {
    width: 5%;
    display: flex;
    justify-content: center;
}

.main .header .logo img {
    border-radius: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.main .header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;

    border: 1px solid #DCDCDC;
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 2px 10px;
}

.main .header form i {
    font-size: 18px;
    color: #696969;
    margin-right: 15px;
}

.main .header form i:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.main .header form input {
    border: none;
    background-color: inherit;
}

.main .header form button {
    border: none;
    background-color: inherit;
}

.main .header form:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.main .header:focus-within {
    background-color: grey;
}

.main .header .header-tools {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .header .header-tools i {
    font-size: 22px;
    color: gray;
    margin-right: 30px;
}

.image-gallery {
    padding: 70px 20px 0 20px !important;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.main .result {
    padding: 70px 20px 0 20px;
}

.main .result .filters {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    padding-top: 5px;
}

.main .result .filters .filter {
    border: 1px solid lightgray;
    padding: 4px 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
    display: inline-block;
    color: #606060;
    font-size: 14px;
}

.main .result .filters .filter:hover {
    cursor: pointer;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.main .result .result-vs {
    padding: 10px;
    border-radius: 25px;
}

.main .result .result-detail {
    padding-top: 20px;
}

.main .result li i {
    font-size: 18px;
    margin-right: 5px;
}

.main .result .result-pie {
    padding-top: 40px;
    margin-left: -30px;
    margin-right: -30px;
}

.main .result canvas {
    width: 100%;
}

.main .result label {
    background-color: #45afeb;
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 12px;
    margin-right: 5px;
}

.person-info {
    padding-top: 20px;
}

.person-info li {
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #4e555b;
    padding: 8px 5px;
}

@media (max-width: 575.98px) {

    .main .header {
        padding: 10px 10px;
    }

    .main .header .logo {
        width: 15%;
    }

    .main .header form {
        width: 85%;
        padding: 1px 12px;
        font-size: 10px;
    }

    .main .header form input {
        padding: 1px 0px;
    }

    .main .header form i {
        margin-right: 3px;
    }

    .main .header .header-tools {
        display: none;
    }

    .main .result .result-vs {
        margin: 0 -15px 0 -15px;
    }

    .main .result .list-group {
        padding-top: 10px;
    }
}