.back-button {
    font-size: 26px;
    color: #808080;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
}

.main-profile {
    padding-top: 25px;
}

.main-image {
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    margin-bottom: 20px;
}

.track-image-container {
    overflow: scroll;
    height: 700px;

    border-left: 1px solid lightgray;
    padding-left: 30px;
}

.track-image {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    padding: 0 -5px;
}

@media (max-width: 575.98px) {
    .track-image-container {
        overflow: initial;
        padding-left: 10px;
    }
}